

<div class="container mt-4">
  <h3>Product Statistics</h3>
  <div class="row mt-3 g-3">
    <div class="col-md-4" *ngFor="let p of products">
      <div class="card p-3 shadow-sm">
          <img *ngIf="p.imageUrl" [src]="'http://localhost:3000' + p.imageUrl" 
             alt="{{ p.name }}" class="card-img-top mb-2" style="height:200px; object-fit:cover; border-radius:8px;">

        <h5>{{ p.name}}</h5>
        <p>Price: ${{ p.price }}</p>
        <p>Stock: {{ p.stock }}</p>
        <p>In Cart: {{ p.inCart }}</p>
        <p>Sold: {{ p.sold }}</p>
        <p>Remaining: {{ p.remaining }}</p>
      </div>
    </div>
  </div>
</div>
